* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.weather-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

.weather-info input {
    padding: 10px;
    font-size: 1rem;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

.weather-info button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.weather-info button:hover {
    background-color: #45a049;
}

.weather-details {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.weather-details div {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: #444;
    margin: 10px 0;
}

.weather-details img {
    width: 50px;
    height: 50px;
    margin-left: 10px;  /* Resim ile metin arasına boşluk ekle */
}

.error-message {
    color: red;
    font-size: 1rem;
    margin-top: 20px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
